<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DeclarativePM.UI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="io" Match="NavLinkMatch.All">
                <MatIcon Icon="import_export"></MatIcon> Import/Export
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Discover" Match="NavLinkMatch.All">
                <MatIcon Icon="search"></MatIcon> Discover
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Create" Match="NavLinkMatch.All">
                <MatIcon Icon="create"></MatIcon> Create/Edit model
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Conformance" Match="NavLinkMatch.All">
                <MatIcon Icon="healing"></MatIcon> Conformance
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}