@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.MainContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: auto;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
    "Activities Editor Tree";
}

.Activities { grid-area: Activities; }

.Editor { grid-area: Editor; }

.Tree { grid-area: Tree; }

.ChipContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
    "Existential"
    "Relational"
    "NotRelational";
}

.Existential {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Text Chip";
    grid-area: Existential;
}

.Relational {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Text Chip";
    grid-area: Relational;
}

.NotRelational {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Text Chip";
    grid-area: NotRelational;
}

.Text {

    justify-self: center;
    align-self: center;
    grid-area: Text;
}

.Chip {

    justify-self: start;
    align-self: center;
    grid-area: Chip;
}

body.mdc-dialog-scroll-lock {
    overflow: inherit;
}